@import "../../../../vendor/styles/elements/variables";

.default-input-wrapper {
  position: relative;

  .error-message {
    color: $attention-color-100;
  }

  .default-input {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    display: block;
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    color: #555;
    text-align: center;
    width: 100%;
  }

  label {
    display: block;
    margin: 10px 0;
    font-size: 1.5em;
  }

  &.has-error label{
    color: $attention-color-100;
  }
}
